/*variables*/
$font-color: #fff;
$background-color: #008844;
$contrast-bg-color: #006633;
$button-color: #0033ff;
$button-hover:#0099ff;
$common-font: Arial, helvetica, sans-serif;
//////////
html {
	box-sizing: border-box; 
}

*, *::before, *::after {
	box-sizing: inherit; 
}

a, a:visited, a:hover {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;	
}


.mt__body {
	margin: 0;
	padding: 0;
	font-family: "";
    background-color: $background-color;
    position: relative;
    
    .mt__navbar{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: $contrast-bg-color;
        .mt__title {
            color: $font-color;  
            margin-left: 15px;
            width: 200px;
        } 
      
    }
}
#menu {
    display: flex;
    width: 50%;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    margin: 0;
    padding: 0;
    
    .submenu {
        list-style: none;
        a {
            margin-right: 10px;
            text-decoration: none;
            font-size: 12px;
            color:$font-color;
            font-family: $common-font;
                &:hover{
                text-decoration: underline;
                }
        }
    }
}


.grid__split-container{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: $common-font;
    .mt__options{
        width: 200px;
        background-color: $contrast-bg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $font-color;
        .mt__option-input{
            width: 80%;
            margin-top: 5px;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        label{
            display: flex;
            margin-top: 10px;
        }

        .saveing__container, .income__container,
        .expenses__container{
            border: 1px solid $font-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            border-radius: 20px;
            font-size: 14px;
            .mt_button{
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: $button-color;
                color: $font-color;
                width: 100px;
                height: 30px;
                border-radius: 8px;
                &:hover{
                    background-color: $button-hover;
                }
            }
        } 
    }
    .data-visualization{
        width:100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        .Total__accounts-amount{
            flex-direction: row;
            width:100%;
            height: 300px;
            justify-content: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            .dv__total-container{
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 300px;
                height: 200px;
                border: 1px solid $font-color;

                i{
                  font-size: 3rem; 
                  color: $font-color;
                }
                h2{
                    font-size: 2rem; 
                    color: $font-color;
                }
            }
        }
        .dv__resume{
            display: flex;
            flex-direction: column;
            background-color: $font-color;
            width: 80%;
            height: 400px;
        }
    }
}



