
/*text colors*/
$text-color: #ffffff;

/* background colors*/

$body-color: rgb(2,0,36);
$body-gradient-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,4,71,1) 0%, rgba(42,9,121,1) 100%, rgba(0,212,255,1) 100%);
$violet-color: #361919;
$violet-light-color: #5a3030;
$grey-color: rgb(200,200,200);
$todo-section-color: #ffffff;

/*alert colors*/

$color-added:rgba(28, 214, 121, 0.5);
$color-deleted: rgba(202, 11, 11, 0.5);


/*fonts*/
$todo-title-font: 'Righteous', cursive;
$home-title-font:'Fredoka One', cursive;


