

/*sass variables partial*/

@import "../variables-scss/_variables-home.scss";

/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
    @include flexCenter (column);
    width: 100%;
    margin: 0;
    padding: 0;
    background: $body-color;
    background: $body-gradient-color;
}

/*HEADER*/

.home__header{
    @include flexCenter (row);
    @include size (100%, 50px);
    background: $violet-color;
    align-items: center;
}

.home__title {
    font-size: 12px;
    font-family: $home-title-font;
    color: $text-color;
    margin-left: 10px;
}

.home__navbar {
    @include flexCenter (row);
    width: 80%;
    margin-right: 30px;
  
}

.home__menu {
    @include flexCenter (row);
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        a {
            margin-right: 10px;
            text-decoration: none;
            font-size: 12px;
            color:$text-color;
            font-family: $todo-normal-font;
                &:hover{
                text-decoration: underline;
                }
        }
    }
}

//special menu

.menu__container{
    @include flexCenter (column);
    width: 30%;
    margin-right: 30px;
}

#menu {
    display:flex;
    flex-direction: column;
    align-items: center;
    @include size (90px, 150px);
    font-family: $todo-normal-font;
    color: $text-color;
    padding: 0;
    margin-top: 140px; 
}
.bx {
    font-size: 20px;
}

.submenu {
    @include size (100%, 40px);
    margin-left: 10px;
    padding-left: 15px;
    display: none;
    list-style: none;
    flex-direction: column;
    background-color: $violet-light-color;
    opacity: 0.8;

    a { 
        
        display: flex;
        color: $text-color;
        margin-top: 5px;
        font-size: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}



//TITLE

.todo__title{
    @include flexCenter (column);
    @include size (100%, 50px);
    height: 60px;
    margin-top: 80px;
    color: $text-color;
    align-items: center;
    h2 {
        font-family: $todo-title-font;
        font-size: 20px;
    }

 }    

 //INPUT SECTION

.todo__input--container{
    @include flexCenter (row);
    margin-top: 40px;
    width: 100%;
    align-items: center;
 
    .todo__input {
        @include size (50%, 30px);
        border-radius: 40px;
        outline: none;
        border-style: none;
        background-color: $grey-color;
        padding-left: 10px;
        &:hover {
            background-color: $white-color;
        }
    }
}

.todo__input--button{
    @include size (50px, 30px);
    justify-content: flex-end;
    padding: 2px;
    border-radius: 100px;
    background-color: $violet-color;
    color: $text-color;
    outline: none;
    border-style: none;
    &:hover {
        
        background-color: $violet-light-color;
    }
 }

 //SECTION FOR ITEMS ADDED

.todo__section{
    @include flexCenter (column);
    @include size (100%, 500px);
    margin-top: 40px;
    align-items: center;
}

.todo__container{

    @include size (100%, 100%);
    align-items: center;
    margin-left: 0;
}

 //JAVASCRIPT ADDED TODO LIST INPUTS

.todo__list--container{
    @include size (85%, 40px);
    display: flex;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
   
    
    .todo__list--item{
        overflow: hidden;
        inline-size: 30px;
        padding-left: 5%;
        flex: 1;
        color: $text-color;
        list-style: none;
        font-family: $todo-normal-font;      
    }
}
.empty_alert{
    padding: 10px;
    height: 20px;
    justify-content: center;
    text-align: center;
    width:100px;
    border-radius: 5px;
    background-color: red;
    color:$text-color;
}
.delete__button,
.check__button {
    @include size (30px,30px);
    border-radius: 10px;
    color: $violet-color;
    background-color: $grey-color;
    margin-left: 10px;
    outline: none;
    border-style: none;
    &:hover{
     background-color: $white-color;
         i {
        font-size: 20px;
         pointer-events: none;
         }
     } 
 }     
   
.todo__list {
    margin-top: 50px;
    padding-left: 0;
}

 //COMPLETED TASK CLASSLIST

 .checked__animation{
    border-radius: 5px;
    transition: 0.7s ease;
    background-color: $violet-color;
    opacity: 0.3;
 }

 .delete__animation {
     transition: 0.5s ease;
     transform: translateX(1em);
     opacity: 0;
     
 }

//MEDIA QUERIES

@media (min-width: 600px){

    .menu__container{
        display: none;
    }

    #menu{
        display: none;
    }

    .home__header{
        height: 60px;
    }
    .home__title{
        font-size: 15px;
    }
    .home_menu {
        margin-right: 10px;
    }
    .home__menu li a {
        font-size: 15px;
    }

    .todo__title h2 {
        font-size: 30px;
    }
}
    .todo__container{
        max-width: 60%;
    }
@media (max-width: 599px) {

    .hidden__links{
        display: none;
    }

}